/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .h1 {
        @apply text-4xl font-semibold uppercase;
    }

    .h3 {
        @apply text-2xl font-semibold uppercase;
    }
}

@layer components {
    body {
        @apply dark:bg-gray-900 dark:text-white;
    }

    .button {
        @apply my-1 rounded-md py-1 px-2 font-semibold uppercase outline-none ring-primary
            hover:brightness-110
            hover:filter focus-visible:ring
            active:brightness-90
            disabled:cursor-not-allowed
            disabled:opacity-50
            disabled:hover:brightness-100
            disabled:active:brightness-100;
    }

    .button-text {
        @apply button font-semibold uppercase text-primary hover:ring;
    }

    .button-coloured {
        @apply button bg-primary text-white ring-offset-4 dark:bg-primary-800
            dark:ring-offset-gray-900;
    }

    ._base-input {
        @apply rounded-lg invalid:border-red-500 invalid:text-red-500 focus:ring-primary invalid:focus:border-transparent dark:bg-gray-800;
    }

    .textarea {
        @apply form-textarea _base-input rounded-br-none;
    }

    .input {
        @apply _base-input form-input;
    }
}
